.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.35);
    margin: 35px auto;
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
}

.form-group .btn
{
    font-size: 14px;
}

.reg-link {
    display: block;
    text-align: center;
    margin-top: 6px;
    text-decoration: none;
}

.reg-span {
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
