html,
body {
    background: linear-gradient(90deg, #ffafbd, #ffc3a0);
}

.navbar {
    height: 70px;
    padding-top: 5px;
    border-bottom: 3px solid;
    border-color: rgba(0, 0, 0, .1);
    font-size: 20px;
}

footer {
    flex-shrink: 0;
    font-size: 10px;
    font-style: italic;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.foot-git {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.foot-span {
    padding: 15px;
}

.btn {
    border-radius: 10px !important;
    border: #ffafbd !important;
    background-color: #fda36f !important;
    color: white !important;
    width: 65px;
}

.btn:hover {
    background-color: #fab38a !important;
    transition: all 0.3s ease;
    transform: scale(1.07);
}

.form-control {
    border-radius: 35px !important;
    font-size: 12px !important;
    height: 30px !important;
}