.products {
    width: fit-content;

}

.card {
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    height: 100%;
}

.card-img-top {
    margin: 0 auto;
    padding: 5px; 
    height: 85%;
    border-radius: inherit;
}

.card-body a{
    font-size: 14px;
    width: 100%;
}