.card
{
    background-color: #fde9df;
    border-radius: 15px;
    border: 0;
}
.card img
{
    padding: 15px;
}

.product-details
{
    border-radius: 0 15px 15px 0;
    background-color: #f7ccb4;
}
.cart
{
    background-color: #ff6e0d !important;
}
.cart:hover
{
    background-color: rgb(172, 80, 19) !important;
}