.card
{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border: 0;
}
.card img
{
    padding: 15px;
}

.product-details
{
    border-radius: 0 15px 15px 0;
    background-color: rgba(0, 0, 0, 0.15);
}
.btn.cart
{
    background-color: black !important;
}
